{% extends 'layouts/layout_sidebar.html.twig' %}

{% block title %}Detalles del Auto{% endblock %}

{% block main %}
    
<style>     
   
    
    main img {
        max-width: 400px;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .infoDiv{
        width: 100%;
        margin: 2px;
        padding: 0px;
        display:flex;
        flex-direction: row;
        align-content:flex-start;
        align-items:flex-start;
        font-size: 15px
    }    
    .infoDiv p{
            margin: 5px;
            padding: 0px;
            font-size: 15px
        }
    hr{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

</style>

<h1>{{ car.model }}</h1>

    <img src="{{ asset('img/carses/' ~ car.photo) }}">

    <div class="infoDiv">
        <p><strong>Marca:</strong></p>
        <p>{{ ('brand.' ~ car.brand.value)|trans({}, 'enum') }}</p>
    </div>
    <hr>

    <div class="infoDiv">
        <p><strong>Precio:</strong></p>
        <p>{{ car.price }} €</p>
    </div>
    <hr>

    <div class="infoDiv">
        <p><strong>Año:</strong></p>
        <p>{{ car.year }}</p>
    </div>
    <hr>

    <div class="infoDiv">
        <p><strong>Descripción:</strong></p>
        <p>{{ car.description }}</p>
    </div>
    <hr>

    {% if role is not empty and  verf %}
        <div id="buttons">
            <button><a href="{{ path('edit_car', { id: car.id() }) }}">Editar</a></button>
            {{ include('car/formDelate.html.twig') }}
        </div>
    {% endif %}
{% endblock %}

