{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
<style>
   
    
    main img {
        max-width: 400px;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .infoDiv{
        width: 100%;
        margin: 2px;
        padding: 0px;
        display:flex;
        flex-direction: row;
        align-content:flex-start;
        align-items:flex-start;
        font-size: 15px
    }    
    .infoDiv p{
            margin: 5px;
            padding: 0px;
            font-size: 15px
        }
    hr{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

</style>
<header>
    <h1> Luxury Collector</h1>
</header>
<div class="layout">
    <aside>
    <div class="lista">
        <h3>Lista de coches:</h3>
        <ul>
            {% for car in cars %}
                <li>
                    <a href="{{ path('car_detail',{ id: car.id()  }) }}">
                        {{ ('brand.' ~ car.brand.value|lower)|trans({}, 'enum') }}
                    </a>
                </li>
            {% endfor %}
                <li>
                    
                </li>
        </ul>
    </div>
    </aside>
    
    
    <main>
        <h1>{{car.model }} </h1>
        <img src="/carses/{{car.photo}}">
        <div class="infoDiv inf1">
            <p><strong>Marca:</strong></p>
            <p>{{ ('brand.' ~ car.brand.value|lower)|trans({}, 'enum') }}</p>
            <br>
        </div>
            <hr>   
        <div class="infoDiv inf1">
            <p><strong>Precio :</strong></p>
            <p>{{ car.price }} €</p>
        </div>
            <hr>   
        <div class="infoDiv inf1">
            <p><strong>Año:</strong></p>
            <p>{{ car.year}}</p>
        </div>
            <hr>   
        <div class="infoDiv inf1">
            <p><strong>Descripcion:</strong></p>
            <p>{{ car.description}}</p>
        </div>
            <hr>   
        <div  id="buttons">
            {{include('car/formDelate.html.twig') }} 
            <a href="{{ path('edit_car',{ id: car.id()  }) }}">EDITAR COCHE</a>
        </div>
       
        
        
        
        
    </main>
</div>
{% endblock %}

