{% extends 'layouts/layout_sidebar.html.twig' %}

{% block title %}Lista de Autos{% endblock %}

{% block main %}
    <ul>
        {% for car in cars %}
            <li>
                <a style="color:black" href="{{ path('car_detail',{ id: car.id() }) }}">
                    {{ ('brand.' ~ car.brand.value)|trans({}, 'enum') }} |
                    {{ (car.model) }} |
                    {{ (car.year) }} |
                    {{ (car.price) }}€
                </a>

                <img src="{{ asset('img/carses/' ~ car.photo) }}" width="50" class="rounded shadow">
                <hr>
            </li>
        {% endfor %}
    </ul>
{% endblock %}