{% extends 'layouts/layoutAdmitSideBar.html.twig' %}

{% block title %}Detalles del usuarios{% endblock %}

{% block main %}
    
<style>     
   
    .infoDiv{
        width: 30%;
        padding: 0px;
        display:flex;
        flex-direction: column;
        align-content:center;
        align-items:center;
        font-size: 15px
    }    
    .infoDiv p{ 
            font-size: 15px
    }

    form{
        width:100%;
        margin: none;
    }

    .but{
        width: 30%;
        background-color: white;
        color: black
    }

    

    #listCars{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-self: center;
        text-align:center;
    }
    #listCars button{
         grid-column: span 6;
        
    }
    #listCars p{
         grid-column: span 6;
         
        
    }
    
    #listCars ol{
         grid-column: span 12;   
    }
    
</style>

    <div class="infoDiv">
        <p><strong>Nombre: </strong> {{ user.nombre }}</p>
                
        <p><strong>Email:</strong> {{ user.email }}</p>
        
    
        <p><strong>Role:</strong>
        {% for role in user.roles %}
            <span >{{ role }}</span>
        {% endfor %}
        </p>
        <div id="listCars" >
            <p><strong>Coches: </strong></p>
            <button id="butnosi" class='openCars but'> {{ ncars }}</button>
        </div>
        
        {{ include('user/userDelete.html.twig') }}
        
    </div>
<script>
    let listCars = document.querySelector('#listCars');
    let generalButton = document.querySelector('#butnosi');
    let openCars = document.querySelector('.openCars');
    let values = openCars.textContent;
    


   openCars.addEventListener('click', () => {
        let existingList = listCars.querySelector('ol');
        let cars = ({{ cars|json_encode|raw }} !== null) ? {{ cars|json_encode|raw }} : [];

        if (existingList) {
            // Cerrar lista
            existingList.remove();
            openCars.classList.remove('closeCars');
            openCars.classList.add('openCars');
            openCars.textContent = values; // texto original
        } else {
            // Abrir lista
            openCars.classList.remove('openCars');
            openCars.classList.add('closeCars');
            openCars.textContent = "Cerrar ";

            let listOwnCars = document.createElement('ol');
            cars.forEach(car => {
                let list = document.createElement('li');
                list.textContent = `Modelo: ${car['model']} brand ${car['brand']} año: ${car['year']}`;
                listOwnCars.append(list);
            });
            listCars.append(listOwnCars);
        }
    });

</script>
{% endblock %}


